h1 {
  color: Maroon;
  border-color: black;
  border-style: ridge;
  border-width: 8px;
  font-family: monospace;
  font-size: 400%;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

h2 {
    color: mediumorchid;
    border-color: magenta;
    border-style: ridge;
    border-width: 8px;
    font-family: monospace;
    font-size: 350%;
}

h3 {
    color: gold;
    border-color: gray;
    border-style: ridge;
    border-width: 8px;
    background-image: url('images/NAVBACKGROUND.gif');
    text-align: center;
    font-family: monospace;
    font-size: 200%;
}

.NBh1 {
    text-align: center;
    color: orange;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    background-image: url('images/NBHEADER.jpg');
}

.NETh1 {
    text-align: center;
    color: purple;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-color: darkorchid;
    animation: wheelHueColor 10s infinite;
}

.NETh2 {
    text-align: center;
    letter-spacing: 8px;
    color: darkviolet;
    font-size: 150%;
    text-shadow:
        -1px -1px 0 indigo,
        1px -1px 0 indigo,
        -1px 1px 0 indigo,
        1px 1px 0 indigo;
    
    border-width: 4px;
    border-color: darkslateblue;
}

.NETh3 {
    text-align: center;
    letter-spacing: none;
    padding-left: 10px;
    padding-right: 10px;
    color: darkviolet;
    font-size: 150%;
    text-shadow:
        -1px -1px 0 indigo,
        1px -1px 0 indigo,
        -1px 1px 0 indigo,
        1px 1px 0 indigo;
    
    border-width: 4px;
    border-color: darkslateblue;
    border-style:groove;
    background-color: black;
}

.BMh1 {
    text-align: center;
    color: BLACK;
    text-shadow:
        -1px -1px 0 maroon,
        1px -1px 0 maroon,
        -1px 1px 0 maroon,
        1px 1px 0 maroon;
    background-image: url('images/NETPANELHEADER.jpg')
}

.ILh1 {
    text-align: center;
    color: mediumturquoise;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    background-image: url('images/NETPANELHEADER.jpg')
}


/* The navigation bar */
.burgMenu {
  overflow: hidden;
  position: absolute; /* Set the navbar to fixed position */
  background-color: gray;
  border-style: hidden;
  background-image: url('images/HAMBURG.png');
  background-size: 51px;
  margin-left: 10px;
  margin-top: 11px;
  height: 51px;
  width: 51px;
}

.burgMenu:hover {
  background-color: rgb(51, 0 , 0);
}

.hiddenMenu {
    font-family: monospace;
    height: 100%; /* 100% Full-height */
    width: 0; /* must be here otherwise it stays open */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0; /*direction of appearance*/
    background-color: #111; /* Black*/
    border-color: maroon;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.hiddenMenu .closebtn {
  font-family: monospace;
  text-align: right;
  width: 100%;
  height: 100%;
}

.hiddenMenu .subMenuOpt {
    color: yellow;
    text-align: center;
    min-height: 2%; 
    max-height: 4%;
    border-color: rgb(255, 255, 26);
    text-shadow: 
    -1px -1px 0 rgb(255, 0, 255),
    1px -1px 0 rgb(255, 0, 255),
    -1px 1px 0 rgb(255, 0, 255),
    1px 1px 0 rgb(255, 0, 255);
    
    background-image: url('images/NAVBACKGROUND.gif');
    background-position: 12%;
}

.hiddenMenu .subMenuImg{
    position: absolute;
    bottom:0px;
    width: 100%;
    max-height: 50%;
}

.login {
    position:absolute;
    display: block;
    margin: auto;
    text-align: center;
    color: darkmagenta;
    font-family: monospace;
    background-color: black;
    height: 75%;
    width: 98%;
    transition: 0.5px;
}

.login .NChead {
    text-decoration-style:solid;
    
    border-color: black;
}

.entryFS {
    border-width: 0;
}

.entryField {
    height: 15%;
    margin-top: 10px;
    background-color: lightslategray;
    color: black;
    border-style:solid; 
    border-width: 4px;
    border-color: darkslateblue;
    transition: 0.5px;
}

.entryField .entryTEXT {
    margin-top: 25px;
    color: rgb(236, 100, 75);
    animation: wheelHueColor 10s infinite;
    height: 20px;
    width: 200px;
    resize: none;
    scrollbar-width: none;
    font-family: monospace;
    font-size: 110%;
}

.netData {
    border-style: dashed;
    border-width: 4px;
    font-family: monospace;
    font-size: 20px;
    
}

.netData .plrImg {
    background-color: inherit;
    /* display: inline-block; */
    float: right;
    width: 265px;
    height: 265px;
}

.netData .QMHeader {
    font-size: 130%;
}

.netData .QMItem {
    color: black;
    white-space: pre-line;
    font-size: 80%;
}

.netData .CommonItem {
    color: black;
    white-space: pre-line;
    font-size: 80%;
}

.btn {
    font-family: monospace;
    margin-bottom: 5px;
    width: 80%;
    color: darkorchid;
    background-color: darkslateblue;
    animation: wheelHueColor 10s infinite;
}

@keyframes wheelHueColor {
    from, to { color: rgb(236,100,75); }
    10%      { color: rgb(219,10,91); }
    20%      { color: rgb(174,168,211); }
    30%      { color: rgb(89,171,227); }
    40%      { color: rgb(37,116,169); }
    50%      { color: rgb(3,201,169); }
    60%      { color: rgb(22,160,133); }
    70%      { color: rgb(233,212,96); }
    80%      { color: rgb(243,156,18); }
    90%      { color: rgb(236,240,241); }
}

.developmentBanner {
    background-color: firebrick;
    font-size: 45px;
    color: gold;
    text-align: center;
    text-decoration-line: underline;
    justify-content: center;
    border-width: 10px;
    border-color: darkorange;
    border-style: groove;
    margin-top: 400px;
    transform: rotate(30deg);
}

/* Links inside the navbar */
/* .burgMenu a {
  float: left;
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.burgMenu a:hover {
  background: #ddd;
  color: black;
} */

.default {
    color: white;
    text-shadow:red;
    font-style: bold;
    font-family : monospace;
    font-size: 135%;
}

.NPCContainer{
    background-image: url('images/NPCBACK.jpg');
    background-position-x: 200px;
    background-position-y: 180px;
}

.REP {
    font-weight: bold;
    font-style: italic;
}

.JOB-C {
    text-decoration-line: line-through;
    text-decoration-color: crimson;
    font-weight: italic;
}

.JOB-A {
    font-weight: bold;
}

.JOB-U {
    font-weight: italic;
}

.QMAIN {
    color: firebrick;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.QNPC {
    color: SlateBlue;
    font-weight: bold;
    font-style: italic;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /* -1px -1px 0 DeepSkyBlue, */
    /* 1px -1px 0 DeepSkyBlue, */
    /* -1px 1px 0 DeepSkyBlue, */
    /* 1px 1px 0 DeepSkyBlue; */
}

.imgRGE{
    border-style: groove;
    border-width: 4px; 
    border-color: yellow;
}

.imgNYX {
    border-style: groove;
    border-width: 4px; 
    border-color: indigo;
}

.imgTCH{
    border-style: groove;
    border-width: 4px; 
    border-color: darkBlue;
}

.imgPNX{
    border-style: groove;
    border-width: 4px; 
    border-color: chartreuse;
}

.imgCPT{
    border-style: groove;
    border-width: 4px; 
    border-color: cyan;
}

.imgPNM{
    border-style: groove;
    border-width: 4px; 
    border-color: goldenrod;
}

.test { 
    color: green;
}