h1 {
  color: Maroon;
  border-color: black;
  border-style: ridge;
  border-width: 8px;
  font-family: monospace;
  font-size: 400%;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

h2 {
    color: mediumorchid;
    border-color: magenta;
    border-style: ridge;
    border-width: 8px;
    font-family: monospace;
    font-size: 350%;
}

.default {
    color: white;
    text-shadow:red;
    font-style: bold;
    font-family : monospace;
    font-size: 135%;
}

.NPCContainer{
    background-image: url('images/NPCBACK.jpg');
    background-position-x: 200px;
    background-position-y: 180px;
}

.REP {
    font-weight: bold;
    font-style: italic;
}

.JOB-C {
    text-decoration-line: line-through;
    text-decoration-color: crimson;
    font-weight: italic;
}

.JOB-A {
    font-weight: bold;
}

.JOB-U {
    font-weight: italic;
}

.QMAIN {
    color: firebrick;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.QNPC {
    color: SlateBlue;
    font-weight: bold;
    font-style: italic;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /* -1px -1px 0 DeepSkyBlue, */
    /* 1px -1px 0 DeepSkyBlue, */
    /* -1px 1px 0 DeepSkyBlue, */
    /* 1px 1px 0 DeepSkyBlue; */
}

.imgRGE{
    border-style: groove;
    border-width: 4px; 
    border-color: yellow;
}

.imgNYX {
    border-style: groove;
    border-width: 4px; 
    border-color: indigo;
}

.imgTCH{
    border-style: groove;
    border-width: 4px; 
    border-color: darkBlue;
}

.imgPNX{
    border-style: groove;
    border-width: 4px; 
    border-color: chartreuse;
}

.imgCPT{
    border-style: groove;
    border-width: 4px; 
    border-color: cyan;
}

.imgPNM{
    border-style: groove;
    border-width: 4px; 
    border-color: goldenrod;
}

.test { 
    color: green;
}